/* Information pertaining to different styles used in the desktop.
   You can set properties for classes here. NONE of it is redundant
   unless it has to be. */
   
/* Nathan's Awesome Modifications To It. */

body {
	margin:0px;
	}

#one {
	display:block;
	background:#ccc;
	width:140px;
	height:30px;
	position:absolute;
	left:305px;
	top:15px;
	border: 1px solid #000;
	}
#one:hover {
	background: #000;
	border: 1px solid #fff;
	}
#two {
	display:none;
	}
#one:hover #two {
	display:block;
	width:150px;
	height:350px;
	background: #ccc;
	margin-left:140px;
	border: 1px solid #000;
	}

#menuone {
	background-image: url("./Menu1.png");
	width:45px;
	height:100px;
	position:relative;
	left:0px;
	top:100px;
	}
#menuone:hover{
	}

/* End Of Nathan's Awesome Modifications To It*/

body{
	font:8pt Verdana;
	color:#000;
}

img {
	border:0px;
}

input {
	background-color:#000044;
	filter:Chroma(color=#000044)
	border:0px solid #000000;
	font:8pt Verdana;
	color:#000;
}


a {
	color:#000;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.title {
	font-weight:bold;
	color:#000
}

.textbox {
	width:350px;
}


#netLinks {
	 position:absolute;
	 left:305px;
	 top:15px;
}

#drives {
	 position:absolute;
	 right:15px;
	 bottom:30px;
}

#weather {
	position:absolute;
	right:15px;
	top:480px;
}

#progList {
	 position:absolute;
	 right:15px;
	 top:150px;
}

#forumNav {
	position:absolute;
	left:455px;
	top:200px;
}

#forumNav2 {
	position:absolute;
	left:235px;
	top:230px;
}

#forumNav3 {
	position:absolute;
	left:505px;
	top:230px;
}

#control {
	position:absolute;
	left:15px;
	top:535px;
}

#search {
	position:absolute;
	left:305px;
	top:60px;
}

#console {
	position:absolute;
	left:405px;
	bottom:150px;
}

#textbox {
	position:absolute;
	left:170px;
	top:350px;
}
